$primary-color: red;

nav {
    color: $primary-color;
    display: flex;
    justify-content: space-between; 
}

main {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 300px 2fr 1fr;
    gap: 10px;
}

.card {
    button {
        color: green;
    } 
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
}

@mixin button-style {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
   
}

.btn-base {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-success {
    @include button-style;
    background-color: green;
}

.btn-error {
    @extend .btn-base;
    background-color: red;
}

$sizes: 1, 2, 4, 6, 8;

@each $size in $sizes {
    .p-#{$size} { 
        padding: #{$size}px;
    }
}

@media (max-width: 768px) {
    .btn-error {
        background-color: rgb(0, 255, 217);
    }
}

@media print {
    .btn-error {
        display: none;
    }
}